# requirements.txt for Backend (Python)

# Flask Web API
flask
flask-cors

# ML Libraries
sentence-transformers
torch
setfit
transformers

# Data Processing
pandas
numpy
scikit-learn

# Information Retrieval
rank-bm25

